@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Linq;
@inject IJsonHelper Json;
@{
    ViewData["Title"] = "QRVouchersBackSide";
}
@model List<PdfData>


<table style="border-collapse: unset; background:#343333;   border: 0px;  ">


    @for (int i = 0; i < Math.Ceiling((Convert.ToDecimal(Model.Count) / 4)); i++)
    {

        <tr style="border-collapse: unset; border: 0px;   margin:0px; padding: 0px">


            @for (int j = (i * 4) + 3; j >= (i * 4); j--)
            {

                if (j < Model.Count())
                {
                    if ((Convert.ToDecimal(j+1) % 4)==0)
                    {
                        <td>
                            <div style="width:215px;" >

                            </div>
                        </td>
                    } 
                    <td style="border: 0px solid;   margin:0px; padding: 0px;  width:422px; height:271px; background-image: url(@Model[j].ImgUrl/img/card1.png); background-repeat: no-repeat; background-size:cover" border="0">
                        <div style="width:422px; height:98px; position: relative">
                        @*  I-1*@
                        @if (@Model[j].Usdt == 1 || @Model[j].Usdt == 100 || @Model[j].Usdt == 10)
                        {
                            <img style="width: 58.5px; height:91px;  left: 20px; position: absolute; top: 3.5px" src=@Model[j].ImgUrl/img/1.png />
                        }

                     @*   I-5*@
                        @if (@Model[j].Usdt == 5 || @Model[j].Usdt == 50)
                        {
                                <img style="width:71px; height:92px;  left: 20px; position: absolute; top: 3px" src=@Model[j].ImgUrl/img/5.png />
                        }
                        @*I-2*@
                        @if (@Model[j].Usdt == 25)
                        {
                                <img style="width:72px; height:91px; left: 20px; position: absolute; top: 2px" src=@Model[j].ImgUrl/img/2.png />
                        }

                      @*  II-0*@
                        @if (@Model[j].Usdt == 10 || @Model[j].Usdt == 100 || @Model[j].Usdt == 50)
                        {
                                @if (@Model[j].Usdt == 50)
                                {
                                    <img style="width: 75px; height:98px;  left: 100px; position: absolute; top: 0" src=@Model[j].ImgUrl/img/0-1.png />
                                }
                                else{
                                    <img style="width: 75px; height:98px;  left: 87px; position: absolute; top: 0" src=@Model[j].ImgUrl/img/0-1.png />
                                }
                            }

                        @*II-5*@
                        @if (@Model[j].Usdt == 25)
                        { 
                                <img style="width: 71px; height:92px; left: 100px; position: absolute; top: 4px" src=@Model[j].ImgUrl/img/5-2.png />
                         
                        }

                       @* III-0*@
                        @if (@Model[j].Usdt == 100)
                        {
                                <img style="width: 75px; height:98px;  left: 170px; position: absolute; top: 0" src=@Model[j].ImgUrl/img/0-2.png />
                        }
                        </div>
                    </td>
                }
                else{
                    if ((Convert.ToDecimal(j + 1) % 4) == 0)
                    {
                        <td>
                        
                        </td>
                    }
                    <td></td>
                }
            }

        </tr>
        @if ((i + 1) % 4 == 0)
        {
            <tr style="height:262px">
                <td></td>
            </tr>
        }
    }


</table>

@*
@foreach (var i in Model)
{
    <div style="background-image: url( https://localhost:44351/img/card1.png); width:317.4px; height:196.5px; background-size:cover">
        @if (i.Usdt == 1 || i.Usdt == 100 || i.Usdt == 10)
        {
            <img style="width: 58.5px; height:95.5px; margin-top: 58px; margin-left: 10px;" src=https://localhost:44351/img/1.png />
        }
        @if (i.Usdt == 5 || i.Usdt == 50)
        {
            <img style="width:79px; height:98.5px; margin-top: 58px; margin-left: 10px;" src=https://localhost:44351/img/5.png />
        }
        @if (i.Usdt == 10 || i.Usdt == 100 || i.Usdt == 50)
        {
            <img style="width: 75px; height:100px; margin-top: 58px; margin-left: -13px;" src=https://localhost:44351/img/0-1.png />
        }
        @if (i.Usdt == 100)
        {
            <img style="width: 75px; height:100px; margin-top: 58px; margin-left: -13px;" src=https://localhost:44351/img/0-2.png />
        }
    </div>
}*@